body
{
    background-image:url("bliss.jpg");
    background-size:cover;
    font-family:Tahoma;
    text-shadow:1px 1px black;
}
div.main-window {
    /*border: solid 1px;*/
    width: 400px;
    height: 360px;
    /*position:absolute;
    left:500px;
    top:150px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.title-bar {
    width: 100%;
    height: 38px;
    background-image: linear-gradient( rgb(88,132,244), rgb(0,86,228),rgb(0,86,228), rgb(4,105,253),rgb(4,105,253) );
    box-shadow: inset 0px 0px 4px 1px #002195;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between; /*части что в блоке есть по разным краям + выравнивание по горизотнали*/
    align-items: center;
}

.title-bar-left-side
{
    display: flex;
    align-items: center;
    margin: 0px 8px;
}
.control-button, .control-button:disabled, .control-button:disabled:hover 
{
    width: 24px;
    height: 24px;
    color: white;
    font-weight: 800;
    border: solid 1px white;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #55A1FF, #0025B5 );
    box-shadow: inset 1px 1px 3px 0px #77A1F5;
    /*margin-right:5px;*/
}
.control-button:hover
{
    background-image:linear-gradient(to bottom right, #75C1FF, #2045D5);
    box-shadow:inset 0px 0px 3px 3px #77A1F5;
    
}
.control-button:active
{
    background-image:linear-gradient(to bottom right, #55A1CF, #0025B2);
    box-shadow:inset 0px 0px 3px 3px #5781F5;
    color:lightgray;
}
.control-button:disabled, .control-button:disabled:hover
{
   /* background-image:linear-gradient(to bottom right, #55A1FF, #0025B5 );
    box-shadow: inset 1px 1px 3px 0px #77A1F5;*/
    color:lightgray;
    border-color:lightgray;
}

#close-button
{
    background-image:linear-gradient(to bottom right, #C97475, #FF3010);
    box-shadow:inset 1px 1px 3px 1px #C49A9B;
}
#close-button:hover
{
    background-image:linear-gradient(to bottom right, #D98485, #FF3020);
    box-shadow:inset 0px 0px 3px 3px #C49A9B;
}
#close-button:active
{
    background-image:linear-gradient(to bottom right, #D95455, #FF3020);
    box-shadow:inset 0px 0px 3px 3px #B48A8B;
}
.title-bar-right-side
{
    margin:5px 8px;
}
.client-rect 
{
    background-color: rgb(235 233 216);
    width: 100%;
    height: 322px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#app-icon
{
    width:30px;
    height:30px;
}
