body
{
}
img
{
    position:fixed;/*absolute позиционирование относительно всей страницы*/
    width:250px;
    height:250px;
    left:250px;
    top:250px;
    z-index:-1;/*слои в двухмерной графике*/
}
h1 {
    position: sticky;
    top: 0px;
    background: silver;
    /*margin:0 0 50px;*/
}